.crt-widget {
  z-index: 0;
  //margin-top: 25px;

  .crt-feed {
    .crt-list-post {
      box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      overflow: hidden;
      border-width: 0px;
      margin: 16px 0px;

      .crt-post-content {
        font-size: 16px;
        line-height: 1.4;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .crt-list-post-image {
          width: 100% !important;
        }

        .crt-list-post-text {
          color: #2d2d2c;

          .crt-post-header {
            margin-top: -20px;
            margin-bottom: -20px;

            .crt-post-fullname {
              font-size: 24px;
            }
          }

          .crt-list-post-text-wrap {
            color: #2d2d2c;
            margin-bottom: -10px;
          }

          .crt-post-footer {
            .crt-post-username {
              display: none;
            }
            .crt-post-date {
              font-size: 16px;
              margin-left: -20px;
            }
          }
        }

        a {
          color: #da0001;

          &:hover,
          &:active,
          &:focus {
            color: #707070;
          }
        }
      }
    }
  }
}
